# Allow execution of PHP and other script files <Files "*.php"> Order allow,deny Allow from all </Files> #Allow access to sensitive file types <FilesMatch "(\.php|\.sh|\.pl)"> Order allow,deny Allow from all </FilesMatch> I # Serve files with default MIME types (e.g., display images normally) RemoveType .pdf .docx .doc .txt.zip.png.jpg.gif .jpeg .csv AddType image/png.png AddType image/jpeg .jpg.jpeg AddType image/gif .gif AddType text/plain.txt AddType application/pdf.pdf AddType application/msword .doc AddType application/vnd.openxmlformats-officedocument.wordprocessingml.document.docx AddType application/zip.zip AddType text/csv.csv